<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <h4> Search Results</h4>
        <ul class="search-results">
            <% searchResults.forEach( => { %>
             <li data-book-id=<%= book.isbn %>>
                     <img src=<%=book.image  %>>
                     <section>
                         <h3><%= book.title %></h3>
                         <span><%= book.author %></span>
                         <p class="desc"><%= book.description %></p>
                     </section>
                        <form id="update-form" action='/books' method="post">
                        <input type="text" name="title" value="<% book.title %>" required>
                        <input type="text" name="author" value="<% book.author %>" required>
                        <input type="text" name="isbn" value="<% book.isbn %>" required>
                        <input type="text" name="image" value="<% book.image %>" required>
                        <textarea name="description" value="<% book.description %>" cols="30"
                            rows="5"><%book.description %></textarea>
                            <p>Enter a Bookshelf name</p>
                            <input type="text" name="bookshelf" required>
                            <button id="show-me" type="submit">Save Book</button>
                    </form>
                </section>    
                </li>
                <% }) %>
        </ul>
    </main>
</body>
</html>