<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/reset.css"/>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/layout.css"/>
    <link rel="stylesheet" href="styles/modules.css"/>
    <title>Document</title>

    
</head>
<body>
    <main>
        <h1>BEST BOOKS</h1>

            <h4 class="view-title"> Saved Books</h4>
            <p><%= books.length %> Books on the Shelf</p>
            <section class="booklist-container">
                <ul id="book-list">
                    <% books.forEach(book => { %>
                        <li>
                            <h3><%=  book.title %></h3>
                            <img src="<%=book.image_url %>">
                            <div>
                                <%= book.author%>
                            </div>
                            <p>
                                <%= book.description %>
                            </p>
                        </li>
                        <% })%>
                  
                </ul>

            </section>
    </main>



  
</body>
</html>